.turivius-card.rs-panel {
  background-color: #d6d7e9;
  color:#3a3a3a;
  margin: 5px;
}
.turivius-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.turivius-card-header .initials {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  padding: 5px 11px 7px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: 800;
  background-color: #e61e25;
}
.turivius-card-header .name a {
  text-decoration: none;
  font-weight: 800;
  color: #4965a0;
}
.turivius-card-header .name a:hover {
  font-size: 15px;
  transition: font-size 0.4s, color 0.4s linear;
}
.turivius-card-container .title {
  color: #001645;
}
.turivius-card-container .content div {
  margin-top: 10px;
}

.turivius-card .box-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.turivius-card .box-btns .btn-show {
  width: 100px;
  height: 30px;
  padding: 5px 11px 7px;
}
.turivius-card .box-btns .btn-like {
  width: 70px;
  height: 30px;
  padding: 3px 11px 5px;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
}
.turivius-card .box-btns .btn-like:focus-within {
  width: 100px;
  height: 30px;
  -webkit-transform: rotate(-360deg);
  transform: rotate(360deg);
}
.rs-btn-icon.rs-btn > .rs-icon {
padding-bottom: 3px;
}

